<access>
  <page id="1126" loginPage="1120" noRightsPage="1110" simple="False">
    <group id="Active" />
  </page>
  <page id="1095" loginPage="1120" noRightsPage="1110" simple="False">
    <group id="Active" />
  </page>
  <page id="1128" loginPage="1120" noRightsPage="1110" simple="False">
    <group id="Active" />
  </page>
</access>